{{#get "posts" filter="featured:true" limit="all" as |featured|}}
    {{#if featured}}
        <section class="featured-wrapper container">
            <div class="featured-header">
				<h2 class="featured-title">Featured articles</h2>
				<div class="feat-nav">
					<button type="button" id="scroll-prev" role="presentation" aria-label="Previous Featured Article"><svg class="icon"><use href="#chevron-left"></use></svg></button>
					<button type="button" id="scroll-next" role="presentation" aria-label="Next Featured Article"><svg class="icon" ><use href="#chevron-right"></use></svg></button>
				</div>
			</div>
            <div class="featured-feed" id="feat-feed">
                {{#foreach featured visibility="all"}}
                    <article class="{{post_class}} featured-item">
                        <a href={{url}} aria-label="{{title}}">
                        {{#if feature_image}}
                            <div class="u-placeholder horizontal">
								<img class="u-object-fit"
									srcset="{{> srcset}}"
									sizes="(min-width: 1256px) calc((1130px - 60px) / 3), (min-width: 992px) calc((90vw - 60px) / 3), (min-width: 768px) calc((90vw - 30px) / 2), 90vw"
                                    src="{{img_url feature_image size="s"}}"
									alt="{{title}}"
									loading="lazy">
                            </div>
                        {{/if}}
                        <h3 class="post-title">{{title}}</h3>
                        </a>
                    </article>
                {{/foreach}}
            </div>
        </section>
    {{/if}}
{{/get}}
